



#name to link to an id in html

h1 {color: yellow;}
/* - h1 is the selector
- {color: yellow;} is the declaration
- color: is the property
- yellow is the value */

/* Selectors */
h1{} type selector
.specific name{} class selector

/* font Color */
color: black 



article [
    float: left;
    width: 33%
]

li{
    display: inline-block;
}

/* Section is similar to a div or an article, generic way to define a group of elements */
section{
    float: left;
    width: 50%;
}

ul{
    padding-left: 40px;
}

img{
    border: 20px solid red;
}

#name of id{
    margin: 10px 10px 10px 10px
}

main{
    height: 400px
    background-color: red;
}


footer{
    height:
    background-color: yellow;
}

#copyright{
    width: 100%
    text-align: center;
}

#name{
    display: block
}

span{
    font-size: 400%;
    line-height: 80%;
    float: left;
}

position: sticky; /* will keep the element in view as you scroll
position: absolute;


//Layouts
